@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&family=Poppins:ital,wght@1,500&display=swap');@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap');
  .container {
    width: 400px;
    background-color: rgba(0,0,0,0.2);
    padding: 50px;
    border:1px solid gray;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 20px;
    font-family: 'Love Ya Like A Sister';
    position: relative;
  }
  img{
    width:50px;
    height:50px ; 
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
  }
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  .form-group {
    margin-bottom: 20px;
  }
  #myform{
    padding: 10px;
    
  }

  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }

  input[type="text"] {
    width: 100%;
    height:30px;
    padding: 10px;
    background: transparent;
    outline: none;
    border:none;
    border-bottom: 2px solid #494747;
    font-size: 18px;
    font-family: 'poppins';
    color:white;
    letter-spacing: 2px;
  }
 

  .btn-container {
    text-align: center;
    display: flex;
    width:100%;
    justify-content: space-around;
  }

  .btn {
    display: inline-block;
    padding: 10px 20px;
    margin-left: 20px;
    font-size: 16px;
    background-color: #f085f0;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  h4{
    text-align: center;
    margin-top: 20px;
    color: white;
    animation: float 2s infinite;
  }

  @keyframes float {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(15px);
    }
    100% {
      transform: translateX(0);
    }
  }
  

.res{
  text-align: center;
}
  a{
    color:white;
    text-decoration: none;
    background-color: rgba(233, 68, 217, 0.5);
    padding:5px;
    border-radius: 5px;
  }
  a:hover{
    border:1px solid gray;
  }